* {
  margin: 0;
}
body {
  background: rgb(238, 228, 174);
  background: radial-gradient(
    circle,
    rgba(238, 228, 174, 1) 0%,
    rgba(233, 148, 148, 0.5186449579831933) 100%
  );
}
.imagen-carrito{
    width: 50px;
}
li{
list-style: none;
}

