<div class='container'>
	<div class='row'>
		{{#each productos}}
			<div class='col-xs-12 col-md-4 center'>
				<div class='card mb-4' style='width: 18rem;'>
					<div class='card-body text-center'>
						<img src='/img/{{this}}.png' alt='' class='' />
						<h5 class='card-title'>{{this}}</h5>
					</div>
					<div class='card-footer'>
						<button
							data-nombre='{{this}}'
							class='btn btn-primary agregar-carrito d-block mx-auto'
						>
							Agregar al Carrito</button>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>